/* @layer theme, base, antd, components, utilities; */
/* @layer theme, base, antd, components, utilities; */
@layer  antd, theme, base, components, utilities;

/* @config "../../tailwind.config.js";
@import 'tailwindcss';
@plugin */
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities" layer(utilities);


/* Global styles */
/* @layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  #root {
    height: 100%;
    width: 100%;
  }

  html {
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    html {
      font-size: 14px;
    }
  }
} */

/* Util classes */
@layer components {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}